---
import MyTempleLayout from "../layouts/MyTempleLayout.astro";
---
<MyTempleLayout title="About" description="Welcome to About Page">
	<h3>About Page</h3>
</MyTempleLayout>

<style>
	h3 {
		color: red;
	}
	
/* is:global mean that the style will be applied globally */

/* is:inline mean that the style will be applied to the current component only */

/*  is:raw mean that the style will be applied to the current component only and it will not be processed by the astro compiler */

</style>


